numpy>=1.26.4
huggingface-hub==0.19.4  # Last version with cached_download
diffusers==0.24.0  # Version that works with both PixArt and SDXL
transformers==4.35.2  # Compatible version for all models
torch>=2.2.1
accelerate==0.25.0  # Version compatible with diffusers
tqdm>=4.66.1  # For progress bars
fastapi>=0.110.0
python-dotenv>=1.0.1
uvicorn>=0.27.1
pillow>=10.2.0
omegaconf>=2.3.0
sentencepiece>=0.1.99
beautifulsoup4>=4.12.3
psutil>=5.9.8  # For memory monitoring
